.artists-wrapper
  margin: 0
  padding: 0

.artist
  font-family: 'Lato'
  display: block
  text-align: center
  margin-top: 10px
  padding: 0

  .name
    font-size: 18px

  .image
    img
      border: 1px solid
