.empty
  font-family: 'Lato'
  text-align: center

.order-list
  font-family: 'Lato'

  table
    margin: 0 auto
    padding: 0 auto

    td
      text-align: right

    th.name
      width: 400px

    th.quantity
      width: 150px

    td.name
      text-align: center

    td.quantity
      text-align: center
