@font-face {
  font-family: 'Futurist';
  src:font-url('FUTRFW.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OriginLight';
  src:font-url('Origin-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
