.cart
  font-family: 'Lato'
  text-align: right

  .cart-icon
    font-size: 20px
    text-align: right
    margin-right: 10px
    text-decoration: none
    color: #000000

  .cart-total
    font-size: 20px
    float: right
    text-decoration: none !important
    color: #000000 !important

.log-out
  font-family: 'Lato'
  float: right

.log-in
  font-family: 'Lato'
  display: block
  float: right

.product
  font-family: 'Lato'
  text-align: left
  margin-left: 150px
  width: 300px
  float: left
  display: block

  .product-image img
    padding-right: 10px

  .product-name
    display: inline-block
    margin-top: 10px

  .product-price
    display: inline-block
    float: right
    margin-top: 10px

  .add-cart
    text-align: center
    margin-top: 10px
    padding-bottom: 20px
